.right-side{
    display:inline-block;
    z-index:3;
    padding:36px;
    flex:1;
}
    .right-twitter-icon{
        color:rgb(231,233,234);
        margin-top:12px;
        padding: 0 0 12px;
        width:45px; /*45px*/
        height:57px; /*57px*/
    }
    .right-slogan{
        font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
        font-weight:bold;
        font-size:75px;    
        color:rgb(231,233,234);

        letter-spacing: -1.2px;
        transform: scaleY(0.90);
        line-height:84px;
        
        margin: 35px 0 46px;
    }
    .right-participation-note{
        font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
        font-weight:bold;
        font-size:38px;    
        color:rgb(231,233,234);

        letter-spacing: -1.2px;
        transform: scaleY(0.90);
        
        margin: 33px 0 26px;
    }

    .google-register-link,
    .apple-register-link,
    .phone-register-link,
    .twitter-log-in-link {
        text-decoration: none;
    }
    .google-register-button,
    .apple-register-button {
        display:flex;
        align-items: center;
        justify-content:center;
        width:300px;
        height:44px;
        border-radius:100px;
        margin-bottom:8px;

        cursor:pointer;
        
    }
        .right-google-logo,
        .right-apple-logo {
            width:20px;
            height:20px;
            margin-right:6px;
        }
        .google-participation-note {
            color:rgb(60,64,67);
            font-size:13px;
            font-weight:500;
            font-family:'Noto Sans Display', sans-serif;
            letter-spacing: 0.25px;
        }
        .apple-participation-note {
            color:black;
            font-size:14px;
            font-weight:bold;
            font-family:'Noto Sans Display', sans-serif;
            margin-bottom:1px;
        }
    .or-container{
        display:flex;
        align-items: center;
        justify-content:center;
        width:300px;
        margin-bottom:8px;
    }
        .left-line, 
        .right-line{
            background-color:rgb(47,51,54);
            height:1px;
            width:126.078px;
            margin:0 4px;
        }
        .or{
            font-family:Arial;
            font-size:15px;
            font-weight:100px;
            margin: 0 4px;
        }
    .phone-register-button{
        display:flex;
        align-items: center;
        justify-content:center;
        width:300px;
        height:44px;
        border-radius:100px;
        margin-bottom:8px;
        background-color: rgb(29, 155, 240);
        cursor:pointer;
    }
        .phone-participation-note{
            color:white;
            font-size:15px;
            font-weight:bold;
            font-family:arial, sans-serif;
            letter-spacing:-0.25px;
        }
    .right-confirmation{
        font-family:arial;
        font-size:11px;
        width:300px;
        color:rgb(113, 118, 123);
        margin-bottom:20px;
    }
        .right-confirmation span{
            color: rgb(29,155,240);
            cursor:pointer;
        }
        .right-confirmation a{
            text-decoration:none;
        }
        .right-confirmation span:hover{
            text-decoration:underline;
        }
    .log-in-container{
        margin-top:70px;
    }
        .before-log-in-confirmation{
            font-family:arial;
            font-weight:bold;
            font-size:16px;
            margin-bottom:20px;
        }
        .twitter-log-in-button{
            display:flex;
            align-items: center;
            justify-content:center;
            width:300px;
            height:44px;
            border-radius:100px;
            margin-bottom:8px;

            cursor:pointer;

            font-weight:bold;
            font-size:14px;
            margin:0 0 8px;
            padding: 0 16px;

            border-color:rgb(83,100,113);
            border-style:solid;
            border-width: 1px;
            background-color:black;
            color:rgb(29,155,240);
        }
    